{% if content %}
<div{{attributes.addClass('titre-description')}}> 
	<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="" {% endif %}>
		{% if content.title|has_value %}
			{% if settings.region_tag_title %}
        		<{{settings.region_tag_title}} {{ region_attributes.title.addClass(['title']) }}>
        			{{ content.title|layout_value }}
        		</{{settings.region_tag_title}}>
    		{% else %}
        		<h2 {{ region_attributes.title.addClass(['title']) }}>
        			{{ content.title|layout_value }}
        		</h2>
    		{% endif %}
		{% endif %}
		{% if content.description|has_value %}
    		<div {{ region_attributes.description.addClass(['description']) }}>
    			{{ content.description|layout_value }}
    		</div>
		{% endif %}
	</div>
</div>
{% endif %}