{% if content %}
<section {{ attributes.addClass('the-content') }}>
	<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="" {% endif %}>
    	<div class="row">
    		<div class="col-lg-4">
    			<div class="presentation">
    				<h3{{region_attributes.title.addClass('title')}}>
    					{{ content.title }}
    				</h3>
    				<h5{{region_attributes.subtitle.addClass('subtitle')}}>
    					{{ content.subtitle }}
    				</h5>
    			</div>
    			<div {{region_attributes.socials.addClass('social-networks-icon')}}>
    				{{ content.socials }}
    			</div>
    			<h5 {{region_attributes.title_contact.addClass('title_contact')}}>
    				{{ content.title_contact }}
    				<div {{region_attributes.title_contact_anime.addClass('title_contact_anime')}}>
    					{{ content.title_contact_anime }}
    				</div>
    			</h5>
    			<div {{region_attributes.headercontact.addClass('headercontact')}}>
    				{{content.headercontact}}
    			</div>
    			<div {{region_attributes.textcontact.addClass('textcontact')}}>
    				{{content.textcontact}}
    			</div>
    		</div>
    		<div class="col-md-8 right_content">
    			<div {{region_attributes.map.addClass("map")}}>
    				{{ content.map }}
    			</div>
    			<div {{region_attributes.form.addClass("form")}}>
    				{{ content.form }}
    			</div>
    		</div>
    	</div>
	</div>
</section>
{% endif %}