{% if content %}
	<section {{attributes.addClass('formatage-models-ac-hero')}}>
		<div  {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container" {% endif %}>
			<div class="row">
				<div class="{{ settings.css_left }} content-text space-padding">
					<div>
    					{% if content.subtitle|has_value %}
                            <h4 {{ region_attributes.subtitle.addClass('subtitle') }}>
                                {{ content.subtitle }}
                            </h4>
                        {% endif %}
                        {% if content.title|has_value %}
                            <h1 {{ region_attributes.title.addClass('title') }}>
                                {{ content.title }}
                            </h1>
                        {% endif %}
                        {% if content.description|has_value %}
                            <div {{ region_attributes.description.addClass('description') }}>
                                {{ content.description }}
                            </div>
                        {% endif %}
                        {% if content.button|has_value %}
                        	<div {{ region_attributes.button.addClass('button') }}>
                                {{ content.button }}
                            </div>
                        {% endif %}
					</div>
				</div>
				<div class="{{ settings.css_right }} content-image">
					{% if content.image %}
						<div {{ region_attributes.image.addClass('image') }}>
							{{ content.image }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}