{% if content %}
    {% if content.image_bg.layout_builder_add_block %}
	    {{ content.image_bg }}
	{% endif %}
	{% if content.image_bg|layout_bg_img %}
	    {% set attributes=attributes.merge(content.image_bg|layout_bg_img) %}
    {% endif %}
<div {{attributes.addClass('one-column')}}>	
	<div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="" {% endif %}>
    	{% if content.main|has_value %}
    		{# verification #}
    		{% if settings.region_tag_main %}    		
    			<{{settings.region_tag_main}} {{region_attributes.main.addClass('main')}}>
            		{% if settings.load_clean_value %}
            		    {{ content.main|layout_value }}
            		{% else %}
            		    {{ content.main }}
            		{% endif %}
            	</{{settings.region_tag_main}}>		
    		{% else %}
            	<div {{region_attributes.main.addClass('main')}}>
            		{% if settings.load_clean_value %}
            		    {{ content.main|layout_value }}
            		{% else %}
            		    {{ content.main }}
            		{% endif %}
            	</div>            	
            {% endif %}
    	{% endif %}
    	{% if content.block_2|has_value %}
    		<div {{region_attributes.block_2.addClass('block_2')}}>{{ content.block_2 }}</div>
    	{% endif %}
    	{% if content.block_3|has_value %}
    		<div {{region_attributes.block_3.addClass('block_2')}}>{{ content.block_3 }}</div>
    	{% endif %}
    	{% if content.block_4|has_value %}
    		<div {{region_attributes.block_4.addClass('block_4')}}>{{ content.block_4 }}</div>
    	{% endif %}
    	{% if content.block_5|has_value %}
    		<div {{region_attributes.block_5.addClass('block_5')}}>{{ content.block_5 }}</div>
    	{% endif %}
    	{% if content.block_6|has_value %}
    		<div {{region_attributes.block_6.addClass('block_6')}}>{{ content.block_6 }}</div>
    	{% endif %}
    	{# content region for teaser, ce model est deja assez utilisé, on laisse la classe row pour ce cas de figure #}
    	{% if content.teasers_container %}
    	<div class="row {{settings.class_row}}">
    		{% for item in content.teasers_container|array_elements(region_attributes.teasers_container.addClass('')) %}
    			{{ item }}
    		{% endfor %}
    	</div>
    	{% endif %}
	</div>
</div>
{% endif %}


