{% if content %}
{% set identifiant = theme_hook_original|clean_unique_id %}
<section {{attributes.addClass('top-header-teaser')}}>
<nav class="navbar navbar-expand-lg navbar-light px-0">
  <div {% if settings.config_section %} class="{{ settings.config_section.type_container }} {{ settings.config_section.container_class }}" {% else %} class="container" {% endif %}>    
      <button
        class="navbar-toggler mobile-btn"
        type="button"
        data-bs-toggle="collapse" data-bs-target="#{{-identifiant-}}" aria-controls="{{-identifiant-}}" aria-expanded="false" aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </span>
      </button>
      {% if content.data_mobile %}
      <!-- display only on mobile -->
      <div {{ region_attributes.data_mobile.addClass(['data_mobile']) }}>
      	{{ content.data_mobile }}
      </div>
      {% endif %}
      <div class="collapse navbar-collapse" id="{{-identifiant-}}">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <div class="nav-link d-flex" href="#">
              <span class="location">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M12 21a29.776 29.776 0 0 1-3.5-3.531C6.9 15.558 5 12.712 5 10a7 7 0 0 1 11.952-4.951A6.955 6.955 0 0 1 19 10c0 2.712-1.9 5.558-3.5 7.469A29.777 29.777 0 0 1 12 21Zm0-14a3 3 0 1 0 0 6a3 3 0 0 0 0-6Z"
                  />
                </svg>
              </span>
              <span {{region_attributes.infos_f1.addClass('linker')}}>{{ content.infos_f1 }}</span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link d-flex" href="#">
              <span class="phone">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m20.487 17.14l-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66c-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"
                  />
                </svg>
              </span>
              <span {{region_attributes.infos_f2.addClass('linker')}}>{{ content.infos_f2 }} </span>
            </div>
          </li>          
        </ul>
        {% if content.socials_rx %}
            <div {{region_attributes.socials_rx.addClass(['socials_rx'])}}>
                {{ content.socials_rx }}
            </div>
        {% endif %}
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0 right-link">
        {% if logged_in == true %}							
						{% if content.user_compact %}
							<div class="btn-group px-4">
                            	<a href="#" type="button" class="mr-4 dropdown-toggle" title="{{'Profile information'|trans}}" data-bs-toggle="dropdown" aria-expanded="false">
                            		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg svg-user" width="2rem" height="2rem">
                            			<path d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z"/>
                            		</svg>
                            	</a>
                            	<div {{region_attributes.user_compact.addClass(['user_compact','dropdown-menu','dropdown-menu--user'])}}>
                                    {{content.user_compact}}
                                </div>
                        	</div> 
                        {% else %}
								<a href="/user/logout" id="header-search-button" class="d-flex align-items-center px-4">
									<i class="fas fa-sign-out-alt"></i>
								</a>
						{% endif %}      
        {% else %}
          <li class="nav-item page-linker">
            <a href="/user/login" class="nav-link linker"> {{ 'Registration'|trans }} </a>
          </li>
          <li class="nav-item page-linker">
            <span class="d-none d-lg-block" > | </span>
            <a href="/user/login" class="nav-link linker"> {{ 'Login'|trans }} </a>
          </li>
        {% endif %}
        {% if content.button_f2 %}
        		<div {{region_attributes.button_f2.addClass('button_f2')}}>
        				{{ content.button_f2 }}
        		</div>
        {% endif %}
        {% if content.button_f1 %}
        	{% if content.button_f1.layout_builder_add_block %}
        		<div {{region_attributes.button_f1.addClass('button_f1')}}>{{ content.button_f1 }}</div>
        	{% else %}
                {% for item in content.button_f1|array_elements(region_attributes.button_f1.addClass('button_f1')) %}
    		          {{ item }}
                {% endfor %}
    	    {% endif %}
    	{% endif %}
        </ul>
      </div>    
  </div>
  </nav>
</section>
{% endif %}