<div {{ wrappers_attributes }}>
	<div class="swiper-wrapper">
		{% for row in items %}
			<div {{row['#attributes']}}> {{ row }} </div>
		{% endfor %}
	</div>
	{% include '@fullswiperoptions/includes/fullswiperoptions--navigation.html.twig' %}
	{% include '@fullswiperoptions/includes/fullswiperoptions--pagination.html.twig' %}
	{% include '@fullswiperoptions/includes/fullswiperoptions--scrollbar.html.twig' %}	
</div>